In [14]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# readin weather data

In [15]:
df = pd.read_csv("../raw_data/weather_2019.csv")
to_drop = ["WSF2","WSF5","WDF2","WT06","WT08","WDF5","PGTM","WT02","TSUN","TAVG","WT01","WT04"]
useful = df.drop(columns = to_drop)

In [16]:
#show the useful data
useful

           DATE   AWND  PRCP  SNOW  SNWD  TMAX  TMIN  WT03
0     1/01/2019    NaN  0.06   0.0   0.0    58    39   NaN
1     2/01/2019    NaN  0.00   0.0   0.0    40    35   NaN
2     3/01/2019    NaN  0.00   0.0   0.0    44    37   NaN
3     4/01/2019    NaN  0.00   0.0   0.0    47    35   NaN
4     5/01/2019    NaN  0.50   0.0   0.0    47    41   NaN
..          ...    ...   ...   ...   ...   ...   ...   ...
360  27/12/2019   4.47  0.00   0.0   0.0    54    46   NaN
361  28/12/2019   4.03  0.00   0.0   0.0    51    43   NaN
362  29/12/2019   4.92  0.25   0.0   0.0    44    39   NaN
363  30/12/2019  12.75  0.74   0.0   0.0    41    37   NaN
364  31/12/2019   5.14  0.02   0.0   0.0    45    36   NaN

[365 rows x 8 columns]

In [17]:
#convert the type of date
useful["DATE"] = pd.to_datetime(useful["DATE"])

#fill the missing data with 0
useful = useful.fillna(0)

## select the data in 4 months needed

In [18]:
#pick the data in January
start_date = "2019-01-01"
end_date = "2019-01-31"
after_start_date = useful["DATE"] >= start_date
before_end_date = useful["DATE"] <= end_date
between_two_dates = after_start_date & before_end_date
January = useful.loc[between_two_dates]

#pick the data in April
start_date = "2019-04-01"
end_date = "2019-04-30"
after_start_date = useful["DATE"] >= start_date
before_end_date = useful["DATE"] <= end_date
between_two_dates = after_start_date & before_end_date
April= useful.loc[between_two_dates]

#pick the data in July
start_date = "2019-07-01"
end_date = "2019-07-31"
after_start_date = useful["DATE"] >= start_date
before_end_date = useful["DATE"] <= end_date
between_two_dates = after_start_date & before_end_date
July= useful.loc[between_two_dates]

#pick the data in October
start_date = "2019-10-01"
end_date = "2019-10-31"
after_start_date = useful["DATE"] >= start_date
before_end_date = useful["DATE"] <= end_date
between_two_dates = after_start_date & before_end_date
#filtered_dates = useful.loc[between_two_dates]
October= useful.loc[between_two_dates]
October

#combine them together
data = pd.concat([January,April,July,October], axis=0)

In [19]:
#change the name of columns
data
dict = {"AWND":"avg_wind_speed",
       "SNWD":"Snow_depth",
       "TMAX":"Max_temp",
       "TMIN":"Min_temp",
       "PRCP":"Rainfall",
       "WT03":"Thunder"}
data.rename(columns = dict,inplace = True)

In [20]:
#show the data now
data

,DATE,avg_wind_speed,Rainfall,SNOW,Snow_depth,Max_temp,Min_temp,Thunder
0,2019-01-01,0.00,0.06,0.0,0.0,58,39,0.0
12,2019-01-13,0.00,0.00,0.0,0.0,33,25,0.0
13,2019-01-14,0.00,0.00,0.0,0.0,32,22,0.0
14,2019-01-15,0.00,0.00,0.0,0.0,36,25,0.0
15,2019-01-16,0.00,0.00,0.0,0.0,39,30,0.0
...,...,...,...,...,...,...,...,...
301,2019-10-29,4.03,0.07,0.0,0.0,59,54,0.0
302,2019-10-30,3.13,0.06,0.0,0.0,63,58,0.0
303,2019-10-31,5.14,0.54,0.0,0.0,71,60,0.0
313,2019-10-11,3.80,0.00,0.0,0.0,51,38,0.0
343,2019-10-12,6.93,0.13,0.0,0.0,58,39,0.0

In [21]:
#add the test of weekend

In [22]:
data['WEEKDAY'] = pd.to_datetime(df['DATE']).dt.dayofweek  # monday = 0, sunday = 6
data['weekend'] = 0          # Initialize the column with default value of 0
data["weekend"]= data['WEEKDAY'].isin([5, 6])
data

,DATE,avg_wind_speed,Rainfall,SNOW,Snow_depth,Max_temp,Min_temp,Thunder,WEEKDAY,weekend
0,2019-01-01,0.00,0.06,0.0,0.0,58,39,0.0,1,False
12,2019-01-13,0.00,0.00,0.0,0.0,33,25,0.0,6,True
13,2019-01-14,0.00,0.00,0.0,0.0,32,22,0.0,0,False
14,2019-01-15,0.00,0.00,0.0,0.0,36,25,0.0,1,False
15,2019-01-16,0.00,0.00,0.0,0.0,39,30,0.0,2,False
...,...,...,...,...,...,...,...,...,...,...
301,2019-10-29,4.03,0.07,0.0,0.0,59,54,0.0,1,False
302,2019-10-30,3.13,0.06,0.0,0.0,63,58,0.0,2,False
303,2019-10-31,5.14,0.54,0.0,0.0,71,60,0.0,3,False
313,2019-10-11,3.80,0.00,0.0,0.0,51,38,0.0,4,False
343,2019-10-12,6.93,0.13,0.0,0.0,58,39,0.0,5,True

In [23]:
#save the cleaned weather data
data.reset_index().to_feather("../preprocessed_data/weather_19.feather")

## combine the weather and taxi data

In [24]:
yellow = pd.read_feather("../preprocessed_data/cleaned_yellow_19_5IQR.feather").drop('index', axis=1)

yellow["DATE"] = pd.to_datetime(yellow["DATE"])
yellow["DATE"] = pd.to_datetime(yellow["DATE"])

result = pd.merge(yellow, data, on='DATE')

In [25]:
#show the result
result

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,tip_amount,total_amount,...,DATE,avg_wind_speed,Rainfall,SNOW,Snow_depth,Max_temp,Min_temp,Thunder,WEEKDAY,weekend
0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.50,1.0,151,239,7.0,1.65,9.95,...,2019-01-01,0.00,0.06,0.0,0.0,58,39,0.0,1,False
1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.60,1.0,239,246,14.0,1.00,16.30,...,2019-01-01,0.00,0.06,0.0,0.0,58,39,0.0,1,False
2,2019-01-01 00:21:28,2019-01-01 00:28:37,1.0,1.30,1.0,163,229,6.5,1.25,9.05,...,2019-01-01,0.00,0.06,0.0,0.0,58,39,0.0,1,False
3,2019-01-01 00:32:01,2019-01-01 00:45:39,1.0,3.70,1.0,229,7,13.5,3.70,18.50,...,2019-01-01,0.00,0.06,0.0,0.0,58,39,0.0,1,False
4,2019-01-01 00:57:32,2019-01-01 01:09:32,2.0,2.10,1.0,141,234,10.0,1.70,13.00,...,2019-01-01,0.00,0.06,0.0,0.0,58,39,0.0,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19350141,2019-10-31 23:02:44,2019-10-31 23:12:38,1.0,7.27,2.0,56,170,52.0,4.00,65.42,...,2019-10-31,5.14,0.54,0.0,0.0,71,60,0.0,3,False
19350142,2019-10-31 23:39:40,2019-11-01 00:06:07,1.0,16.43,2.0,132,170,52.0,0.00,55.30,...,2019-10-31,5.14,0.54,0.0,0.0,71,60,0.0,3,False
19350143,2019-10-31 23:36:36,2019-11-01 00:10:47,1.0,18.30,2.0,132,148,52.0,11.06,66.36,...,2019-10-31,5.14,0.54,0.0,0.0,71,60,0.0,3,False
19350144,2019-10-31 23:05:41,2019-10-31 23:37:52,1.0,18.34,2.0,132,262,52.0,0.00,61.42,...,2019-10-31,5.14,0.54,0.0,0.0,71,60,0.0,3,False
19350145,2019-10-31 23:46:11,2019-11-01 00:29:35,1.0,19.03,2.0,132,48,52.0,0.00,55.30,...,2019-10-31,5.14,0.54,0.0,0.0,71,60,0.0,3,False

In [26]:
#save the data
result.reset_index().to_feather("../preprocessed_data/taxi_add_weather_19.feather")